body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #010142; /* Adjust the background color as needed */
}

.container {
    display: flex;  /* Use flex container to align items horizontally */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
    padding: 50px 20px; /* Adjust padding for better spacing */
}

.title img {
    max-width: 100%; /* Ensure the image doesn't exceed its original size */
    height: auto; /* Maintain the aspect ratio */
    max-height: 250px; /* Set a maximum height if needed */
}

.category-button {
    font-size: 16px; /* Adjust the font size for smaller buttons */
    padding: 5px; /* Decrease padding for smaller buttons */
    margin: 5px; /* Decrease margin for smaller buttons */
    background-color: #010142;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px; /* Set a smaller fixed width for buttons */
    height: px; /* Set a smaller fixed height for buttons */
}

.category-button:hover {
    background-color: #010142;
}

/* New styles for the search bar and search results */
.search-bar {
    margin-bottom: 20px;
    position: relative; /* Make the container for suggestions relative to position it */
}

.search-bar form {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the form horizontally */
}

.search-bar input {
    padding: 10px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #3367d6;
}

.suggestions {
    display: none; /* Hide suggestions by default */
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 100%; /* Position suggestions below the search bar */
    left: 50%; /* Center suggestions horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 1;
}

.suggestion, .no-suggestions {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

.no-suggestions {
    color: #777;
    text-align: center;
}
