body {
    margin: 0;
    padding: 0;
    font-family: "Euclid Circular A", "Poppins";
    background-color: #eff9ff; /* Adjust the background color as needed */
}

.container {
    display: flex;  /* Use flex container to align items horizontally */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
    padding: 50px 20px; /* Adjust padding for better spacing */
}

.title img {
    max-width: 100%; /* Ensure the image doesn't exceed its original size */
    height: auto; /* Maintain the aspect ratio */
    max-height: 250px; /* Set a maximum height if needed */
}

.category-button {
    font-size: 16px; /* Adjust the font size for smaller buttons */
    padding: 5px; /* Decrease padding for smaller buttons */
    margin: 5px; /* Decrease margin for smaller buttons */
    background-color: #eff9ff;
    color: #eff9ff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px; /* Set a smaller fixed width for buttons */
    /*height: px; /* Set a smaller fixed height for buttons */
}

.add-recipe-button,
.auth-button {
    background-color: #4faee2;
    color: #ffffff;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 200px;
    /* Add any other special styles you want */

    /* Center the button horizontally */
    margin: 5px;

    /* Set the position relative to the search bar */
    position: relative;
    top: 0px; /* Adjust as needed */
}

.auth-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Add some margin for better spacing */
}

.auth-options form {
    margin-left: 10px; /* Add some spacing between the buttons */
}

/* Remove border around logout button */
.auth-options form button.add-recipe-button {
    border: none;
    font-size: 16px; /* Match the font size of add recipe button */
    padding: 15px 25px; /* Match the padding of add recipe button */
}

.auth-button:hover,
.add-recipe-button:hover {
    background-color: #ffd200;
}

/* New styles for the search bar and search results */
.search-bar {
    margin-bottom: 20px;
    position: relative; /* Make the container for suggestions relative to position it */
}

.search-bar form {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the form horizontally */
}

.search-bar input {
    padding: 10px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px;
    background-color: #4faee2;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #ffd200;
}

.suggestions {
    display: none; /* Hide suggestions by default */
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ffd400;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 100%; /* Position suggestions below the search bar */
    left: 50%; /* Center suggestions horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 1;
}

.suggestion, .no-suggestions {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s;
}

.suggestion:hover {
    background-color: #ffd400;
}

.no-suggestions {
    color: #777;
    text-align: center;
}

/* Background with dots */
.background {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #65c8ff;
}

.background::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -55vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #FFC107;
}

.add-recipe-button,
.auth-button,
.search-bar button {
    font-family: "Euclid Circular A", "Poppins";
}