<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeliArgentina</title>
    <link rel="stylesheet" href="/static/home.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="title"><img src="/static/images/logo2.png" alt="DeliArgentina Logo"></h1>
        <div class="search-bar">
            <form action="{{ url_for('search') }}" method="get">
                <input type="text" id="search-input" name="query" placeholder="Search for recipes">
                <button type="submit">Search</button>
            </form>
            <div id="search-suggestions" class="suggestions"></div>
        </div>
        {% if 'username' in session %}
            <h2>Welcome back, {{ session['username'] }}! What are you cooking today?</h2>
        {% else %}
            <h2>Welcome to DeliArgentina</h2>
            <p>Discover delicious recipes from around Argentina!</p>
        {% endif %}
        <div class="auth-options">
            {% if 'username' in session %}
                <a href="{{ url_for('add_recipe') }}" class="add-recipe-button">Add Recipe</a>
                <form action="{{ url_for('logout') }}" method="post">
                    <button type="submit" class="add-recipe-button">Logout</button>
                </form>
            {% else %}
                <a href="{{ url_for('login') }}" class="auth-button">Login</a>
                <a href="{{ url_for('signup') }}" class="auth-button">Sign Up</a>
            {% endif %}
        </div>
        <div class="category-container">
            {% for category in categories %}
                <a class="category-button" href="{{ url_for('category', category_name=category.name) }}">
                    <img src="{{ url_for('static', filename='images/' + category.name.replace(' ', '_').lower() + '.png') }}" alt="{{ category.name }}">
                </a>
            {% endfor %}
        </div>
        <div class="background"></div>
    </div>

    <script>
        function performSearch() {
            // Get the user input
            const userInput = $('#search-input').val();

            // Redirect to the search results page
            window.location.href = '/search?query=' + encodeURIComponent(userInput);
        }
    </script>
</body>

</html>
