<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ recipe['Recipe_name'] }}</title>
</head>
<body>
    <h1>{{ recipe['Recipe_name'] }}</h1>
    <p>{{ recipe['Description'] }}</p>
    <p>Ingredients: {{ recipe['Ingredients_needed'] }}</p>
    <p>Instructions: {{ recipe['Instructions'] }}</p>
    <img src="{{ url_for('static', filename=recipe['Picture']) }}" alt="{{ recipe['Recipe_name'] }} Image">
</body>
</html>
