<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeliArgentina</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="title">DeliArgentina</h1>
        <div class="category-buttons">
            {% for category in categories %}
                <a class="category-button" href="{{ url_for('category', category_name=category.name) }}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
